<!--
h1 {
    color: mediumblue;
}
img {
    width: 400px;
    height: 300px;
}
#thirdDiv {
    height: 600px;
    background-color: #bdd6fc;
    padding: 50px;
    border: #1970fc;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
-->